In [1]:
import pandas

In [2]:
import glob

In [5]:
def print_haha():
    '''This function provide me a haha'''
    print('haha')

In [4]:
print_haha()

haha

In [18]:
def return_conbined_date(year,month,date):
    '''this function will return the conbined date
    Parameters
    ..........
    year : int
    '''
    assert month <= 12
    return str(year)+'/'+str(month)+'/'+str(date)
    print(year+1,month,date)

In [20]:
return_conbined_date(2000,6,6)

'2000/6/6'